<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>949267733325-dphml53m2j5826tc5f0k0m8vlk8q1h7l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.949267733325-dphml53m2j5826tc5f0k0m8vlk8q1h7l</string>
	<key>API_KEY</key>
	<string>AIzaSyCG2U5WBhwT1_yDV-GKZ4ZMc9jt0DLiiiQ</string>
	<key>GCM_SENDER_ID</key>
	<string>949267733325</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.incomeexpence.aarvitech</string>
	<key>PROJECT_ID</key>
	<string>expense-manager-29d1f</string>
	<key>STORAGE_BUCKET</key>
	<string>expense-manager-29d1f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:949267733325:ios:4d1aff55850c5cec</string>
	<key>DATABASE_URL</key>
	<string>https://expense-manager-29d1f.firebaseio.com</string>
</dict>
</plist>